# Copy this file to terraform.tfvars and fill in your values

gcp_project_id       = "proyectofinal-462603"
gcp_region          = "us-central1"
gcp_zone            = "us-central1-a"
gcp_credentials_file = "./gcp-credentials.json"

app_name    = "ecommerce-microservice"
environment = "dev"

db_name     = "ecommerce_db"
db_user     = "ecommerce_user"
db_password = "your-secure-password"
